* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  /*background-color: #2f4f4f;*/
  background-image:url('back1.jpg');
  background-size:cover;
  height:100vh;
  margin:0;
}

/* Container Styles */

.container {
  margin-top:170px;	
  margin-left:500px;
  max-width: 400px;
 /* margin: 40px auto;*/
  padding: 20px;
  /*background-color: #222222;*/
  color:white;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container2 {
  margin-top:170px;	
  margin-left:400px;
  max-width: 700px;
 /* margin: 40px auto;*/
  padding: 10px;
  /*background-color: #222222;*/
  color:white;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items:leftwards;
}

 
/* Form Styles */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: white;
  text-align:center;
}

label {
  margin-bottom: 10px;
}

input[type="text"], input[type="password"],input[type="email"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#but1 {
  width: 60%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right:20px;
}

#but1:hover {
  background-color: #3e8e41;
}

.btt{
display:flex;	
	
}	
.dd{
	margin-top:20px;
margin-left:10px;	
	
}	

.dd a{
	
	  color: #4CAF50;

	
}